@font-face {
  font-family: 'Marvin';
  src: url(../fonts/marvin-reg.ttf);
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  text-align: center;
  background-color: black;
  font-family: 'Marvin';
}